.navbar {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* Style your logo here */
  width: 60px;
  height: 60px;

}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.hambur {
  height: 100%;
}